# Log level (1 == minimum, 5 == maximum)

log_level = 1

# Digiplay database parameters

db_host = "localhost"
db_port = 5432
db_user = "digiplay_user"
db_name = "digiplay"

# Icecast stream parameters

stream_host = "icecast.server.com"
stream_port = 80
stream_password = "hackme"
stream_mount = "marceline"
stream_name = "Marceline Jukebox Stream"
stream_description = "24/7 Jukebox"
stream_url = "http://github.com/jonty-comp/marceline"

enable_mp3 = true
enable_flac = true

# Physical output parameters

output_alsa = true
output_jack = false
output_pulseaudio = false
